:root {
  --text: #6b6375;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
  }
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: system-ui, sans-serif;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
}
